@font-face {
    font-family: 'NoTo';
    src: url('../res/fonts/NotoSans-Regular.ttf') format('truetype')
}

body {
    font-family: 'NoTo', sans-serif;
}

#directions {
    position: absolute;
    text-align: center;
    font-size: 10vh;
}

#symbol {
    width: 100%;
    text-align: center;
    font-size: 40vh;
}

#pictureContainer {
    width: 100%;
    text-align: center;
}

.picture {
    height: 40vh;
}

#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../res/images/page-loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}